/* Reset default browser styles */
body, h1, h2, h3, p, ul, li {
    margin: 0;
    padding: 0;
}

/* Basic styling */
body {
    font-family: 'Open Sans', sans-serif;
    line-height: 1.6;
    background-color: #f4f4f4;
    color: #333;
}

header {
    background: linear-gradient(135deg, #4a90e2, #1458a0);
    color: #fff;
    padding: 20px 0 ;
    text-align: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
}

.header-content {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header h1 {
    font-family: 'Roboto', sans-serif;
    font-size: 2.5em;
    font-weight: bold;
    margin-bottom: 10px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s ease;
}

nav ul li a:hover {
    color: #ffdd57;
}

main {
    padding: 100px 20px 20px 20px;
    max-width: 1200px;
    margin: 0 auto;
}

section {
    margin-bottom: 30px;
    background: #fff;
    padding: 84px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

section h2 {
    margin-bottom: 10px;
    font-size: 1.8em;
    color: #1458a0;
    border-bottom: 2px solid #4a90e2;
    padding-bottom: 5px;
}

section p {
    font-size: 1.1em;
    margin-bottom: 10px;
}

footer {
    background-color: #1458a0;
    color: #fff;
    padding: 20px 0;
    text-align: center;
    position: fixed;
    width: 100%;
    bottom: 0;
    box-shadow: 0 -4px 6px rgba(0, 0, 0, 0.1);
}

footer p {
    margin: 0;
    font-size: 1em;
}

.intro-img{
    width: 500px;
}
